<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/agregar-menus" routerDirection="root">
        Agregar Menú
      </ion-item>
      <ion-item routerLink="/listar-menus" routerDirection="root">
        Listar Menús
      </ion-item>
      <ion-item routerLink="/detalles-menus" routerDirection="root">
        Detalles de Menú
      </ion-item>
      <ion-item routerLink="/editar-menus" routerDirection="root">
        Editar Menú
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

